@model InventoryManagement.Models.Inventory
@using System.Web.Mvc.Html;

@{
    ViewBag.Title = "UpdateInventory";
}

<h2>UpdateInventory</h2>

<fieldset>
    <legend>Inventory</legend>
    @using (Html.BeginForm())
    {
        <div>
            <div>Name</div>
            <div>
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <br />
            <div>Number of units</div>
            <div>
                @Html.TextBoxFor(model => model.NoUnits)
            </div>
            <br />
            <div>Price</div>
            <div>
                @Html.TextBoxFor(model => model.Price)
            </div>
            <br />
            <div>Order Level</div>
            <div>
                @Html.TextBoxFor(model => model.OrderLevel)
                @Html.ValidationMessageFor(m => m.OrderLevel, "", new { @class = "text-danger" })
            </div>
            <br />

            <div>
                <button>Update Product</button>
            </div>
        </div>
    }
</fieldset>

<br/>
<div>
    @Html.ActionLink("Back to List", "GetInventory")
</div>